

### VS Code ###
.vscode/
node_modules/
screen/
Auto-JS/
package-lock.json
user.js
users.js


# Local History for Visual Studio Code
.history/



/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/e2e/
/Play/